:root {
  --timer-green: #219653;
  --timer-yellow: #F2C94C;
  --timer-red: #DF1616;
  --timer-cyan: #1b94e2;

  --color-accent: #3e4ead;
}

root[theme=light] {
  --background: #333853;
  --foreground: #eeeeee;

  --background2: #3C4262;
  --foreground2: #ffffff;
}

:root[theme=dark] {
  --background: #333853;
  --foreground: #a3a6b5;

  --background2: #3C4262;
  --foreground2: #eeeeee;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

html, body, #root {
  background-color: var(--background);
  color: var(--foreground);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  min-height: 100%;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
